<div id="rental-properties" class="container flexbox-parent" ng-controller="RentalPropertiesListController">
  <navbar></navbar>
  <div class="col-md-10 col-md-offset-1">
    <div class="row" style="padding-bottom: 5px;">
        <button class="btn btn-primary btn-sm" ng-click="show_add_property_row()">New Property</button>
    </div>
    <div class="row">
      <div class="col-sm-2 subsection-header align-left">Street</div>
      <div class="col-sm-2 subsection-header align-left">City</div>
      <div class="col-sm-1 subsection-header align-left">State</div>
      <div class="col-sm-1 subsection-header align-left">Zip Code</div>
      <div class="col-sm-1 subsection-header align-right">Units</div>
      <div class="col-sm-1 subsection-header align-right">Cap Rate</div>
      <div class="col-sm-1 subsection-header align-right">Total Cost</div>
      <div class="col-sm-3 subsection-header align-right">Actions</div>
    </div>
    <div id="new-property-row" class="row rental-property-summary" ng-if="show_new_property_row">
      <div class="row" colspan="5">
        <new-property-drawer></new-property-drawer>
      </div>
    </div>
    <div rental-property-summary="property"
        remove="remove(id)"
        ng-repeat="property in rental_properties">
    </div>
  </div>
</div>
