<!doctype html>
<html style="background-color: whitesmoke;">
  <head>
    <title>Investment Properties Styleguide: <%= title %></title>
    <link rel="stylesheet" href="./css/application.css.css">
    <style>
      .swatch-item {
        height: 200px;
        width: 200px;
        border: 1px solid #ccc;
      }

      .docswatch {
        float: left;
        margin: 3px;
      }
    </style>
  </head>
  <body style="background-color: whitesmoke;">
    <div>
      <nav>
        <ul>
        <% @categories.each do |category, file_name| %>
          <li><a href="<%= file_name %>"><%= category %></a></li>
        <% end %>
        </ul>
      </nav>

      <h1>The Investment Properties Styleguide</h1>
      <section class="content" style="width: 80%; margin: auto;">
        <ul>
        <% @blocks.each do |b| %>
          <li><a href="#<%= b[:name] %>"><%= b[:title] %></a></li>
        <% end %>
        </ul>
