<div id="net-cash-flows" class="top-padded">
  <div class="row">
    <div class="col-sm-5 align-center subsection-header no-bottom-border">Net Cash Flows on Exit</div>
  </div>
  <div class="row">
    <div class="col-sm-5 align-left">1 Yr Exit</div>
    <div class="col-sm-2 align-right"></div>
    <div class="col-sm-2 align-right">{{monthlyCashFlow | currency:'$':0}}</div>
    <div class="col-sm-3 align-right">{{oneYearExitNet | currency:'$':0}}</div>
  </div>
  <div class="row">
    <div class="col-sm-5 align-left">3 Yr Exit</div>
    <div class="col-sm-2 align-right"></div>
    <div class="col-sm-2 align-right">{{monthlyCashFlow | currency:'$':0}}</div>
    <div class="col-sm-3 align-right" ng-repeat="net in threeYearExitNets track by $index">{{net | currency:'$':0}}</div>
  </div>
  <div class="row">
    <div class="col-sm-5 align-left">5 Yr Exit</div>
    <div class="col-sm-2 align-right"></div>
    <div class="col-sm-2 align-right">{{monthlyCashFlow | currency:'$':0}}</div>
    <div class="col-sm-3 align-right" ng-repeat="net in fiveYearExitNets track by $index">{{net | currency:'$':0}}</div>
  </div>
</div>
