<div id="operating-revenues">
  <div>
    <div class="row">
      <div class="col-sm-5 subsection-header align-center">Operating Revenues</div>
    </div>
    <div class="row">
      <div class="col-sm-5">Gross Scheduled Rent Income</div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2 align-right">{{monthlyGrossScheduledRentIncome | currency:"$":0}}</div>
      <div class="col-sm-3 align-right" ng-repeat="rent in projectedGrossAnnualRents track by $index">{{rent | currency:"$":0}}</div>
    </div>
    <div class="row">
      <div class="col-sm-5">Vacancy Rate</div>
      <div class="col-sm-2 align-right">{{rentalProperty.operatingExpensesAssumption.vacancyRate | percentage:1}}</div>
      <div class="col-sm-2 align-right add-border-bottom">{{vacancy | currency:"$":0}}</div>
      <div class="col-sm-3 align-right add-border-bottom" ng-repeat="cost in projectedAnnualVacancyCosts track by $index">{{cost | currency:"$":0}}</div>
    </div>
    <div class="row">
      <div class="col-sm-5">Net Rental Income</div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2 align-right">{{netRentalIncome | currency:"$":0}}</div>
      <div class="col-sm-3 align-right" ng-repeat="income in projectedAnnualNetRentalIncomes track by $index">{{income | currency:"$":0}}</div>
    </div>
    <div class="row">
      <div class="col-sm-5">Other Income</div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2 align-right add-border-bottom">{{otherIncome | currency:"$":0}}</div>
      <div class="col-sm-3 align-right add-border-bottom" ng-repeat="income in projectedOtherIncomes track by $index">{{income | currency:"$":0}}</div>
    </div>
    <div class="row">
      <div class="col-sm-5">Gross Income</div>
      <div class="col-sm-2 align-right">100%</div>
      <div class="col-sm-2 align-right">{{grossIncome | currency:"$":0}}</div>
      <div class="col-sm-3 align-right" ng-repeat="income in projectedGrossIncomes track by $index">{{income | currency:"$":0}}</div>
    </div>
  </div>
</div>
