<div id="return-on-investment" class="top-padded">
  <div class="row">
    <div class="col-sm-5 align-center subsection-header no-bottom-border">Return on Investment</div>
  </div>
  <div class="row">
    <div class="col-sm-5 align-left">Net Operating Income</div>
    <div class="col-sm-2 align-right"></div>
    <div class="col-sm-2 align-right"></div>
    <div class="col-sm-3 align-right" ng-repeat="roi in noiRoi track by $index">{{roi | percentage:2}}</div>
  </div>
  <div class="row">
    <div class="col-sm-5 align-left">Cash ROI</div>
    <div class="col-sm-2 align-right"></div>
    <div class="col-sm-2 align-right"></div>
    <div class="col-sm-3 align-right" ng-repeat="roi in cashRoi track by $index">{{roi | percentage:2}}</div>
  </div>
  <div class="row">
    <div class="col-sm-5 align-left">Total ROI</div>
    <div class="col-sm-2 align-right"></div>
    <div class="col-sm-2 align-right"></div>
    <div class="col-sm-3 align-right" ng-repeat="roi in totalRoi track by $index">{{roi | percentage:2}}</div>
  </div>
</div>
