/*doc
---
title: Questionnaire Item
name: inputs
category: components
---
```html_example
  <div class="questionnaire">
    <div>Questionnaire question prompt</div>
    <textarea></textarea>
  </div>
```
*/
