/*doc
---
title: Colors
name: colors
category: colors
---
```html_example
  <div class="clearfix">
    <div class="docswatch">
      <div>Red</div>
        <div class="swatch-item red">
      </div>
    </div>
    <div class="docswatch">
      <div>White</div>
        <div class="swatch-item white">
      </div>
    </div>
    <div class="docswatch">
      <div>Blue</div>
        <div class="swatch-item blue">
      </div>
    </div>
    <div class="docswatch">
      <div>Light Gray</div>
        <div class="swatch-item light-gray">
      </div>
    </div>
    <div class="docswatch">
      <div>Medium Gray</div>
        <div class="swatch-item medium-gray">
      </div>
    </div>
    <div class="docswatch">
      <div>Dark Gray</div>
        <div class="swatch-item dark-gray">
      </div>
    </div>
    <div class="docswatch">
      <div>Black</div>
        <div class="swatch-item black">
      </div>
    </div>
  </div>
```
*/
