/*doc
---
title: Typography
name: typography
category: typography
---
```html_example
  <div>Raw text with no added style</div>
```
```html_example
  <div><b>Some bold text</b></div>
```
```html_example
  <a>A Link</a>
```
*/
