<div id="cash-flow-from-operations">
  <div class="row">
    <div class="col-md-5 align-center subsection-header">Cash Flow from Operations</div>
  </div>
  <div class="row">
    <div class="col-md-5">Total Cash Available for Loan Servicing</div>
    <div class="col-md-2"></div>
    <div class="col-md-2 align-right">{{cash_available | currency:'$':2}}</div>
    <div class="col-md-3 align-right"
         ng-repeat="cash in annual_cash_available track by $index">
      {{cash | currency:'$':0}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">Debt Service</div>
    <div class="col-md-2"></div>
    <div class="col-md-2 align-right">{{monthly_debt_service | currency:'$':2}}</div>
    <div class="col-md-3 align-right">{{annual_debt_service | currency:'$':2}}</div>
    <div class="col-md-3 align-right">{{annual_debt_service | currency:'$':2}}</div>
    <div class="col-md-3 align-right">{{annual_debt_service | currency:'$':2}}</div>
    <div class="col-md-3 align-right">{{annual_debt_service | currency:'$':2}}</div>
    <div class="col-md-3 align-right">{{annual_debt_service | currency:'$':2}}</div>
  </div>
  <div class="row">
    <div class="col-md-5">Remaining Cash Flow from Operations</div>
    <div class="col-md-2"></div>
    <div class="col-md-2 align-right">{{monthly_cf_remaining | currency:'$':0}}</div>
    <div class="col-md-3 align-right" ng-repeat="cash in annual_cfs_remaining track by $index">
      {{cash | currency:'$':0}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">Plus Principal Reduction</div>
    <div class="col-md-2"></div>
    <div class="col-md-2 align-right">{{monthly_principal_reduction | currency:'$':0}}</div>
    <div class="col-md-3 align-right" ng-repeat="year in yearly_principal_reductions track by $index">{{year | currency:'$':0}}</div>
  </div>
</div>
