<div id="income-and-cost-projections" class="top-padded">
  <div class="row">
    <div class="col-md-24 subsection-header">Income and Cost Projections</div>
  </div>
  <div id="rent-increases" class="row">
    <div class="col-md-9">Rent Increases</div>
    <li class="col-md-3 align-right" ng-repeat="increase in rental_property.income_and_cost_projection.rent_increases track by $index">{{increase | percentage:1}}</li>
  </div>
  <div id="operating-expense-increases" class="row">
    <div class="col-md-9">Op Exp Increases</div>
    <li class="col-md-3 align-right" ng-repeat="increase in rental_property.income_and_cost_projection.operating_expense_increases track by $index">{{increase | percentage:1}}</li>
  </div>
</div>
