<div class="navbar navbar-default navbar-static-top">
  <li class="property-address" ng-if="show_property_buttons()">
    <a ui-sref="rental-properties" style="padding-left: 5px;">Home</a>
  </li>
  <li class="property-address" ng-if="address">{{address}}</li>
  <li class="questionnaire-link" ng-if="show_property_buttons()">
    <a ui-sref="questionnaire({rentalId: rentalProperty.id})">Questionnaire</a>
  </li>
  <li class="financials-link" ng-if="show_property_buttons()">
    <a ui-sref="financials({rentalId: rentalProperty.id})">Financials</a>
  </li>
  <li class="float-right">
    <span class="logged-in-user">{{logged_in_user}}</span>
    <button class="btn btn-default btn-sm" ng-click="signOut()">Sign Out</button>
  </li>
</div>
