<div class="navbar navbar-default navbar-static-top">
  <li class="property-address" ng-if="show_home_button()">
    <a ui-sref="rental_properties" style="padding-left: 5px;">Home</a> |
  </li>
  <li class="property-address">{{address}}</li>
  <li class="property-address">
    <a ui-sref="questionnaire({rental_id: rental_property.id})">Questionnaire</a>
  </li>
  <li class="float-right">
    <span class="logged-in-user">{{logged_in_user}}</span>
    <button class="btn btn-default btn-sm" ng-click="signOut()">Sign Out</button>
  </li>
</div>
