<div id="operating-expenses">
  <div class="row">
    <div class="col-md-5 align-center subsection-header">Operating Expenses</div>
  </div>
  <div class="row">
    <div class="col-md-5">Repairs and Maintenance</div>
    <div class="col-md-2 align-right">{{repairs_and_maintenance_percentage | percentage:4}}</div>
    <div class="col-md-2 align-right">{{rental_property.operating_expenses_assumption.repairs_and_maintenance | currency:"$":2}}</div>
    <div class="col-md-3 align-right" ng-repeat="cost in projected_annual_maintenance_costs track by $index">{{cost | currency:"$":0}}</div>
  </div>
  <div class="row">
    <div class="col-md-5">Property Management Fees</div>
    <div class="col-md-2 align-right">{{rental_property.operating_expenses_assumption.property_management_fees | percentage:4}}</div>
    <div class="col-md-2 align-right">{{monthly_property_management_fees | currency:"$":2}}</div>
    <div class="col-md-3 align-right" ng-repeat="cost in annual_property_management_fees track by $index">{{cost | currency:"$":0}}</div>
  </div>
  <div class="row">
    <div class="col-md-5">Taxes</div>
    <div class="col-md-2 align-right">{{monthly_taxes_percentage | percentage:4}}</div>
    <div class="col-md-2 align-right">{{rental_property.operating_expenses_assumption.taxes | currency:"$":2}}</div>
    <div class="col-md-3 align-right" ng-repeat="cost in annual_taxes track by $index">{{cost | currency:"$":0}}</div>
  </div>
  <div class="row">
    <div class="col-md-5">Insurance</div>
    <div class="col-md-2 align-right">{{monthly_insurance_percentage | percentage:4}}</div>
    <div class="col-md-2 align-right">{{rental_property.operating_expenses_assumption.insurance | currency:"$":2}}</div>
    <div class="col-md-3 align-right" ng-repeat="cost in annual_insurance_costs track by $index">{{cost | currency:"$":0}}</div>
  </div>
  <div class="row">
    <div class="col-md-5">Salaries and Wages</div>
    <div class="col-md-2 align-right">{{monthly_salaries_and_wages_percentage | percentage:4}}</div>
    <div class="col-md-2 align-right">{{rental_property.operating_expenses_assumption.salaries_and_wages | currency:"$":2}}</div>
    <div class="col-md-3 align-right" ng-repeat="cost in annual_salaries_and_wages track by $index">{{cost | currency:"$":0}}</div>
  </div>
  <div class="row">
    <div class="col-md-5">Utilities</div>
    <div class="col-md-2 align-right">{{monthly_utilities_percentage | percentage:4}}</div>
    <div class="col-md-2 align-right">{{rental_property.operating_expenses_assumption.utilities | currency:"$":2}}</div>
    <div class="col-md-3 align-right" ng-repeat="cost in annual_utilities track by $index">{{cost | currency:"$":0}}</div>
  </div>
</div>
