<div id="property-and-loan-information">
  <div class="row">
    <div class="col-md-24 subsection-header align-center">Property and Loan Information</div>
  </div>
  <div id="land-cost" class="row">
    <span class="col-md-18">Land Cost</span>
    <input class="col-md-6"
           type="text"
           id="land-cost-input"
           name="land-cost-input"
           format="currency"
           symbol="$"
           decimals="0"
           ng-model="rental_property.financing_and_income_assumption.land_cost"/>
  </div>
  <div id="building-cost" class="row">
    <span class="col-md-18">Building Cost</span>
    <input class="col-md-6"
           type="text"
           name="building-cost-input"
           id="building-cost-input"
           format="currency"
           symbol="$"
           decimals="0"
           ng-model="rental_property.financing_and_income_assumption.building_cost"/>
  </div>
  <div id="improvements" class="row">
    <span class="col-md-18">Improvements</span>
    <input class="col-md-6"
           type="text"
           id="improvements-input"
           name="improvements-input"
           format="currency"
           symbol="$"
           decimals="0"
           ng-model="rental_property.financing_and_income_assumption.improvements"/>
  </div>
  <div id="total-square-feet" class="row">
    <span class="col-md-18">Total Square Feet</span>
    <input class="col-md-6"
           type="text"
           id="total-square-feet-input"
           name="total-square-feet-input"
           format="number"
           ng-model="rental_property.financing_and_income_assumption.total_square_feet"/>
  </div>
  <div id="number-of-units" class="row">
    <span class="col-md-18">Number of Units</span>
    <input class="col-md-6"
           type="text"
           format="number"
           id="number-of-units-input"
           name="number-of-units-input"
           ng-model="rental_property.financing_and_income_assumption.number_of_units"/>
  </div>
  <div id="average-monthly-rent" class="row">
    <span class="col-md-18">Average Monthly Rent</span>
    <input class="col-md-6"
           type="text"
           id="average-monthly-rent-input"
           name="average-monthly-rent-input"
           format="currency"
           ng-model="rental_property.financing_and_income_assumption.average_monthly_rent_per_unit"/>
  </div>
  <div id="other-income" class="row">
    <span class="col-md-18">Other Income</span>
    <input class="col-md-6"
           type="text"
           id="other-income-input"
           name="other-income-input"
           format="currency"
           ng-model="rental_property.financing_and_income_assumption.other_monthly_income"/>
  </div>
  <div id="equity-percentage" class="row">
    <span class="col-md-18">Equity Percentage</span>
    <input class="col-md-6"
           type="text"
           id="equity-percentage-input"
           name="equity-percentage-input"
           format="percentage"
           decimals="1"
           ng-model="rental_property.financing_and_income_assumption.equity_percentage"/>
  </div>
  <div id="loan-interest-rate" class="row">
    <span class="col-md-18">Loan Interest Rate</span>
    <input class="col-md-6"
           type="text"
           id="loan-interest-rate-input"
           name="loan-interest-rate-input"
           format="percentage"
           decimals="3"
           ng-model="rental_property.financing_and_income_assumption.loan_interest_rate"/>
  </div>
  <div id="amortization-period-in-years" class="row">
    <span class="col-md-18">Amortization Period in Years</span>
    <input class="col-md-6"
           type="text"
           format="number"
           decimals="0"
           id="amortization-period-in-years-input"
           name="amortization-period-in-years-input"
           ng-model="rental_property.financing_and_income_assumption.amortization_period_in_years"/>
  </div>
</div>
