<div class="container">
  <table class="table table-striped table-hover">
    <thead>
    <tr class="row">
      <td class="col-md-2 subsection-header align-left">Street</td>
      <td class="col-md-1 subsection-header align-left">City</td>
      <td class="col-md-1 subsection-header align-left">State</td>
      <td class="col-md-1 subsection-header align-left">Zip Code</td>
    </tr>
    </thead>
    <tbody>
    <tr class="row rental-property-summary"
        ng-repeat="rental_property in rental_properties"
        ng-click="goToProperty(rental_property.id)">
      <td class="col-md-2 align-left">{{rental_property.street}}</td>
      <td class="col-md-1 align-left">{{rental_property.city}}</td>
      <td class="col-md-1 align-left">{{rental_property.state}}</td>
      <td class="col-md-1 align-left">{{rental_property.zip_code}}</td>
    </tr>
    </tbody>
  </table>
</div>
