<div class="container" ng-controller="RentalPropertiesListController">
  <table class="table table-striped table-hover">
    <thead>
    <tr class="row">
      <th class="col-md-2 subsection-header align-left">Street</th>
      <th class="col-md-1 subsection-header align-left">City</th>
      <th class="col-md-1 subsection-header align-left">State</th>
      <th class="col-md-1 subsection-header align-left">Zip Code</th>
      <th class="col-md-1 subsection-header align-left">
        <button class="btn btn-primary btn-sm" ng-click="show_add_property_row()">New Property</button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr id="new-property-row" class="row rental-property-summary" ng-if="show_new_property_row">
      <td class="row" colspan="5">
        <new-property-drawer></new-property-drawer>
      </td>
    </tr>
    <tr rental-property-summary="property"
        remove="remove(id)"
        ng-repeat="property in rental_properties">
    </tr>
    </tbody>
  </table>
</div>
