<div id="valuation-inputs">
  <div class="row">
    <div class="col-md-24 subsection-header">Inputs</div>
  </div>
  <div id="land-cost" class="row">
    <span class="col-md-18">Land Cost:</span>
    <input class="col-md-6"
           type="text"
           name="land-cost-input"
           format="currency"
           ng-model="rental_property.financing_and_income_assumption.land_cost"/>
  </div>
  <div id="building-cost" class="row">
    <span class="col-md-18">Building Cost:</span>
    <input class="col-md-6"
           type="text"
           name="building-cost-input"
           format="currency"
           ng-model="rental_property.financing_and_income_assumption.building_cost"/>
  </div>
  <div id="improvements" class="row">
    <span class="col-md-18">Improvements:</span>
    <input class="col-md-6"
           type="text"
           name="improvements-input"
           format="currency"
           ng-model="rental_property.financing_and_income_assumption.improvements"/>
  </div>
  <div id="total-square-feet" class="row">
    <span class="col-md-18">Total Square Feet:</span>
    <span class="col-md-6 align-right">{{rental_property.financing_and_income_assumption.total_square_feet | number}}</span>
  </div>
  <div id="number-of-units" class="row">
    <span class="col-md-18">Number of Units:</span>
    <input class="col-md-6"
           type="text"
           name="number-of-units-input"
           format="currency"
           ng-model="rental_property.financing_and_income_assumption.number_of_units"/>
  </div>
  <div id="average-monthly-rent" class="row">
    <span class="col-md-18">Average Monthly Rent:</span>
    <input class="col-md-6"
           type="text"
           name="average-monthly-rent-input"
           format="currency"
           ng-model="rental_property.financing_and_income_assumption.average_monthly_rent_per_unit"/>
  </div>
  <div id="other-income" class="row">
    <span class="col-md-18">Other Income:</span>
    <span class="col-md-6 align-right">{{rental_property.financing_and_income_assumption.other_monthly_income | currency}}</span>
  </div>
  <div id="equity-percentage" class="row">
    <span class="col-md-18">Equity Percentage:</span>
    <span class="col-md-6 align-right">{{rental_property.financing_and_income_assumption.equity_percentage | percentage}}</span>
  </div>
  <div id="loan-interest-rate" class="row">
    <span class="col-md-18">Loan Interest Rate:</span>
    <span class="col-md-6 align-right">{{rental_property.financing_and_income_assumption.loan_interest_rate | percentage}}</span>
  </div>
  <div id="amortization-period-in-years" class="row">
    <span class="col-md-18">Amortization Period in Years:</span>
    <span class="col-md-6 align-right">{{rental_property.financing_and_income_assumption.amortization_period_in_years | number}}</span>
  </div>
</div>
