@import "_colors.css.scss";

html, body {
  height: 100%;
  background-color: $dark-gray;
  color: $black;
  font-size: 9px;
}

li {
  list-style-type: none;
}

a {
  color: $blue;
  font-weight: 500;
}

input {
  margin: 0;
  border: none;
  text-align: right;
  background-color: $light-gray;

  &:focus {
    outline-color: $dark-gray;
    outline-width: thin;
  }
}

/*doc
---
title: Typography
name: typography
category: typography
---
```html_example
  <div>Raw text with no added style</div>
```
```html_example
  <div><b>Some bold text</b></div>
```
```html_example
  <a>A Link</a>
```
*/

