@import "_colors.css.scss";

button:focus {
  outline: none;
}

.navbar {
  .btn-sm, .btn-sm:hover, .btn-sm:active, .btn-sm:focus {
    width: 90px;
  }
}

#new-property-row {
  .btn-sm {
    padding: 5px 15px;
    line-height: 7px;
    border-radius: 6px;
  }
}

.btn-sm {
  font-size: 10px;
  background-color: $white;
  border-radius: 0;
  border: 1px solid $blue;
  font-weight: 500;
  color: $blue;

  text-align: center;
  width: 100%;
  padding: 1px 10px;
}

.btn-sm:focus, .btn-sm:hover {
  @extend .btn-sm;
  outline: none;
}

.btn-sm:active {
  background-color: $blue;
  color: $white;
  box-shadow: none;
  border: 1px solid $white;
}

.btn-sm:active:focus {
  @extend .btn-sm:active;
  outline: 1px auto $white;
}

.btn-save, .btn-save:focus, .btn-save:active, .btn-save:hover {
  background-color: beige;
}

/*doc
---
title: Buttons
name: buttons
category: buttons
---
```html_example
  <button>Raw Button</button>
```
```html_example
  <div style="width: 100px;">
    <button class="btn-sm">Click Me</button>
  </div>
```
```html_example
  <div style="width: 100px;">
    <button class="btn-sm btn-save">Save</button>
  </div>
```
*/
