$white: white;
$blue: #5894b9;
$red: red;
$dark-gray: #676767;
$black: #555;
$medium-gray: #AAA;
$light-gray: #EAEAEA;

.red {
  background-color: $red;
}

.white {
  background-color: $white;
}

.blue {
  background-color: $blue;
}

.light-gray {
  background-color: $light-gray;
}

.medium-gray {
  background-color: $medium-gray;
}

.dark-gray {
  background-color: $dark-gray;
}

.black {
  background-color: $black;
}
