@import "_colors.css.scss";
@import "_layout.css.scss";

.faux-modal {
  @extend .centerer;
  width: 600px;
  height: 250px;
  background-color: $white;
  color: $blue;

  input {
    height: 30px;

    border: solid 1px $blue;
    transition: border 0.3s;

    text-align: left;
    border-radius: 0;
    margin-bottom: 10px;
  }

  .auth-modal {
    margin: auto;
    width: 60%;
  }

  .form-group {
    label {
      margin-bottom: 0;
    }
  }

  .invalid-credentials {
    float: right;
    color: $red;
    align-self: flex-end;
  }

  .sign-in-btn {
    margin: auto;
    width: 100px;
  }
}
