@mixin column-adjust($column,$gutter) {

  // set custom variables for our grid structure
  $grid-columns: $column;
  $grid-gutter-width: $gutter;

  .row {
    @include make-row();
  }
  @include make-grid-columns();
  // @include make-grid(xs);
  @media (min-width: $screen-xs-min) {
    @include make-grid(xs);
  }
  @media (min-width: 0) {
    @include make-grid(sm);
  }
  @media (min-width: 0) {
    @include make-grid(md);
  }
  @media (min-width: 0) {
    @include make-grid(lg);
  }

  // reset global vars;
  $grid-columns: $new-columns;
  $grid-gutter-width: $new-gutter-width;

}
