/*
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "vars";
@import "mixins";

body {
  font-size: 10px;
}

li {
  list-style-type: none;
}

input {
  margin: 0;
  border: none;
  text-align: right;
  background-color: #f3f3f3;
}

input:focus {
  outline: none;
}

.subsection-header {
  font-weight: bold;
  text-align: center;
  background-color: #d9d9d9;
  border-top: thin solid;
  border-bottom: thin solid;
}

.column-header {
  font-weight: bold;
}

.no-bottom-border {
  border-bottom: none;
}

.add-border-bottom {
  border-bottom: thin black solid;
}

.add-border-top {
  border-top: thin black solid;
}

.double-height {
  position: absolute !important;
  height: 31px;
}

.top-padded {
  margin-top: 15px;
}

.container {
  width: 1175px;
  $grid-columns: 24;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.grid-24-across {
  @include column-adjust(24, $grid-gutter-width);
}
