/*
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "vars";
@import "mixins";
@import "colors";
@import "base";
@import "faux-modal";
@import "layout";
@import "buttons";

.grid-24-across {
  @include column-adjust(24, $grid-gutter-width);
}

.questionnaire {
  width: 60%;
  margin: auto;
  display: block;
  padding-top: 10px;

  textarea {
    width: 100%;
  }
}

.notification {
  float: right;
  color: $white;
}

#rental-properties {
  .btn-sm {
    width: 90px;
  }
}

#new-property-row {
  input {
    border: thin solid lightgray;
    text-align: left;
    background-color: $white;
  }

  .less-spaced {
    padding-left: 1px;
    padding-right: 1px;
  }
}

.navbar {
  background-color: $light-gray;
  min-height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: none;
}

.property-address {
  float: left;
  padding-top: 4px;
  margin-right: 5px;
}

.logged-in-user {
  vertical-align: middle;
  padding-right: 5px;
}

.delete-property {
  float: right;
  padding-right: 10px;
  color: $dark-gray;
}

.subsection-header {
  @extend .column-header;
  background-color: $blue;
  color: $white;
}

.column-header {
  font-weight: bold;
}

.dark-gray {
  color: $dark-gray;
}
