@import "colors";

button:focus {
  outline: none;
}

.navbar {
  .btn-sm, .btn-sm:hover, .btn-sm:active, .btn-sm:focus {
    width: 90px;
  }
}

#new-property-row {
  .btn-sm {
    padding: 5px 15px;
    line-height: 7px;
    border-radius: 6px;
  }
}

.btn-sm {
  font-size: 10px;
  background-color: $white;
  border-radius: 0;
  border: 1px solid $blue;
  font-weight: 500;
  color: $blue;

  text-align: center;
  width: 100%;
  padding: 1px 10px;
}

.btn-sm:focus, .btn-sm:hover {
  @extend .btn-sm;
  outline: none;
}

.btn-sm:active {
  background-color: $blue;
  color: $white;
  box-shadow: none;
  border: 1px solid $white;
}

.btn-sm:active:focus {
  @extend .btn-sm:active;
  outline: 1px auto $white;
}
