@import "colors";

.container {
  width: 1125px;
  background-color: $white;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.flexbox-parent {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flexbox-item-grow {
  flex: 1;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.action {
  line-height: 12px;
}

.no-bottom-border {
  border-bottom: none;
}

.add-border-bottom {
  border-bottom: thin $medium-gray solid;
}

.add-border-top {
  border-top: thin $medium-gray solid;
}

.margin-top-sm {
  margin-top: 3px;
}

.top-padded {
  margin-top: 15px;
}

.bottom-padded {
  padding-bottom: 5px;
}

.hoverable-row {
  cursor: default;

  &:hover {
    background-color: $light-gray;
  }
}
